profile = conventional
break-cases = fit-or-vertical
exp-grouping = preserve
parse-docstrings = true
type-decl = sparse
wrap-comments = true
doc-comments = before
margin = 80
break-collection-expressions = wrap
break-fun-decl = smart
break-fun-sig = smart